{% extends "_base/base_of_landing_page.html" %}

{% load i18n %}

{% block title %}{% trans "Password Reset Confirm" %} - {{ block.super }}{% endblock title %}

{% block h1 %}{% trans "Password Reset Confirm" %}{% endblock h1 %}

{% block content %}
	{% if validlink %}
		<p>{% trans 'Please enter (and confirm) your new password.' %}</p>
		<form method="post">
			{% csrf_token %}
	    <div class="row">
	      <div class="col-md-12">
	        <div class="md-form">
						{{ form.new_password1 }}
						{{ form.new_password1.label_tag }}
						{% for error in form.new_password1.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
	        </div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-12">
	        <div class="md-form">
						{{ form.new_password2 }}
						{{ form.new_password2.label_tag }}
						{% for error in form.new_password2.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
	        </div>
	      </div>
	    </div>
	    <div class="center-on-small-only">
	      <button type="submit" class="btn btn-primary waves-effect waves-light">{% trans 'Change my password' %}</button>
	    </div>
		</form>
	{% else %}
		<h3>{% trans 'Password reset failed' %}</h3>
		<p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
	{% endif %}
{% endblock %}

{% block landing_footer %}{% endblock landing_footer %}