{% extends "_base/base_of_landing_page.html" %}

{% load i18n %}

{% block title %}{% trans "Reset Password" %} - {{ block.super }}{% endblock title %}

{% block h1 %}{% trans "Reset Password" %}{% endblock h1 %}

{% block content %}

	<form method="post">
		{% csrf_token %}
		{% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          {{ form.email }}
          {{ form.email.label_tag }}
        </div>
      </div>
    </div>
    <div class="center-on-small-only">
      <button type="submit" class="btn btn-default btn-lg">{% trans "Reset Password" %}</button>
    </div>
	</form>

{% endblock %}

{% block landing_footer %}{% endblock landing_footer %}