{% if datetimepicker and not 'mobile' in request.META.HTTP_USER_AGENT|lower %}
	{% load static %}
	{% load user_locale %}
	
	<link href="{% static '_base/jquery.datetimepicker.min.css' %}" rel="stylesheet">
	<script src="{% static '_base/jquery.datetimepicker.full.min.js' %}"></script>
	<script>
	$.datetimepicker.setLocale('{{ request.LANGUAGE_CODE }}');
	
	{% if '/transaction/new_income_expense_set' in request.get_full_path %}
		$(".datetimepicker input").datetimepicker({
	{% else %}
		$("#id_date, #id_bank_date, #id_bank_date1, #id_bank_date2, #id_start_date, #id_finish_date").datetimepicker({
	{% endif %}
	
			'dayOfWeekStart': {% first_day_of_week request.LANGUAGE_CODE %},
			'mask': false,
			'format': '{% short_date_format request.LANGUAGE_CODE %}',
			'scrollInput': false,
			'scrollMonth': false,
			'timepicker': false,
			'todayButton': true,
		});
	</script>
{% endif %}